* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  .layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://m.media-amazon.com/images/I/91YB1z3sH7L.AC_UF894,1000_QL80.jpg) no-repeat center / cover; 
    padding: 0 10px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .auth-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    color: white;
    overflow-y: auto;
  }
  
  .auth-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auth-container input {
    width: 100%;
    display: block;
    padding: 10px;
    margin: 10px 0;
    background: #333;
    border: 1px solid #444;
    color: white;
    border-radius: 5px;
    outline: none;
    
  }
  input:hover{
  outline: 1px solid rgb(158, 158, 158);
  }
  .auth-container button {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .auth-container p {
    text-align: center;
    margin-top: 10px;
  }
  
  .auth-container a {
    color: white;
    text-decoration: none;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }